/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*='language-'],
pre[class*='language-'] {
  color: $color_code_block_base_text;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;

  // white-space: pre;
  white-space: pre-wrap; // コードブロックを折返しする
  
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;

  // ボーダーの境界線を追加
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-right: 0.5px solid;
  border-left: 0.5px solid;
  border-color: $color_code_block_border_color;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  // コードブロックの背景色
  background: $color_code_block_background;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $color_code_block_comment;
}

.token.punctuation {
  color: $color_code_block_base_text;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: $color_code_block_constant;
}

.token.boolean,
.token.number {
  color: $color_code_block_boolean_number;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $color_code_block_letter;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $color_code_block_base_text;
}

.token.atrule,
.token.attr-value{
  color: $color_code_block_attribute_name;
}

.token.function{
  color: $color_code_block_func_name;
}

.token.class-name {
  color: $color_code_block_class_name;
}

.token.keyword {
  color: $color_code_block_reserved_word;
}

.token.regex,
.token.important {
  color: $color_code_block_regex_important;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
