$color_white: #ffffff;
$color_black: #34495e;
$color_black_dark: #2c3e50;
$color_gray: #95a5a6;
$color_gray_dark: #7f8c8d;
$color_silver: #ecf0f1;
$color_silver_dark: #bdc3c7;
$color_red: #e74c3c;
$color_red_dark: #c0392b;
$color_purple: #9b59b6;
$color_purple_dark: #8e44ad;
$color_orange: #e67e22;
$color_orange_dark: #d35400;
$color_yellow: #f1c40f;
$color_yellow_dark: #f39c12;
$color_blue: #3498db;
$color_blue_dark: #2980b9;
$color_green: #2ecc71;
$color_green_dark: #27ae60;
$color_green2: #1abc9c;
$color_green2_dark: #16a085;

$color_page_back: #fbfcfa;
$color_page_text: #34495e;

$font-family: 'Neue Frutiger World', 'Verdana', 'Yakumono', 'body',
  'Hiragino Sans', sans-serif;

// 文字サイズ
$master-font-size-for-print: 14px; // 本文の文字サイズ
$master-font-size-for-code: 12px; // コードの文字サイズ

// A4
$page-width: 210mm;
$page-height: 297mm;
$page-bleed: 5mm;

// Page
$page-margin-top: 25mm; // 天 (iOSDC 5mm)
$page-margin-bottom: 27mm; // 地 (iOSDC 17mm)
$page-margin-outer: 25mm; // 小口（本の綴じていないほうのマージン）(iOSDC 5mm)
$page-margin-inner: 35mm; // のど（本の綴じているほうのマージン）(iOSDC 20mm)

// コードブロックの色定義
$color_code_block_background: #F8F8F8;
$color_code_block_border_color: #1F2430;
$color_code_block_base_text: #25292E;
$color_code_block_comment: #76A363;
$color_code_block_letter: #C13E2A;
$color_code_block_reserved_word: #C4494A;
$color_code_block_attribute_name: $color_code_block_reserved_word;
$color_code_block_class_name: #32565B;
$color_code_block_func_name: #7C53D8;
$color_code_block_constant: #f92672;
$color_code_block_boolean_number: $color_code_block_reserved_word;
$color_code_block_regex_important: #fd971f;
